<% @nav = "sesion" %>


<%= form_tag sessions_path do %>

<div class="row col-md">
<div class="container" style="border-style:double;border-color: #4E6CFE;width: 50%;margin-bottom:2%;margin-top:1%;">


<div class="container" style="width:90%;margin-top:5%;margin-bottom:5%;">

      <form class="form-signin">
        <h2 class="form-signin-heading"></h2>
       	
        <h4>Usuario</h4>
        <div class="input-group" style="">
			  <span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>

			  <%= text_field_tag :siglas,"", class: 'form-control siglas' %>
			</div>
			<h4>Contraseña</h4>
		<div class="input-group" style="">
			  <span class="input-group-addon glyphicon glyphicon-lock" id="basic-addon1"></span>
			  <%= password_field_tag :password,"",	 class: 'form-control contrau' %>
			</div>
			
       <% @current_user %>
      <div style="margin-top:20px;">
        <%= submit_tag "Entrar",class: "btn btn-primario btn-lg", style: '',:onclick => "return  loginvali(@curre)" %>
        <a href="javascript:history.back()" class="btn btn-primario btn-lg"  style="margin-left:20px;">Cancelar</a>
        </div>
      </form>

<h4 style="margin-top: 20px;"> <%= link_to "¿Olvido su Contraseña?",target: '_blank',:controller => "index", :action => "inicio"  %> </h4>

  </div>    




</div>



</div>


<% end %>

<!--<%= link_to "Registrarse!" ,:controller => "users", :action => "new" %>-->
