<% @nav = "inicio" %>




<div class="container" style="margin-top:5%;margin-right:0%;margin-left:0%;width:100%;">


<div class="container " style="float: left;width:70%;margin-right:0%;margin-left:4%;">


<div class="container" style="float: left;width:100%;margin-left:0%;">


<div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">
               <h1 style="margin: 0.5em 2em;">Ultimas Noticias</h1>
            </div>
            <div class="panel-body">

              <article class="row">
             
                    <div class="soho" style="float:left;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Mejorando-los-proceso-de-produccion> 
                            <!-- <div class="img-thumbnail"> -->
                                <!-- <img alt= imagen de ​Mejorando los proceso de producción src=http://www.uni.edu.ni/img/Articulos/2016/07/29/thumbnails/Mejorando-los-proceso-de-produccion.jpg > -->
                                <img class="img-responsive" alt= "imagen de ​Mejorando los proceso de producción" src=http://www2.uni.edu.ni/img/Articulos/2016/07/29/thumbnails/Mejorando-los-proceso-de-produccion.jpg >
                            <!-- </div> -->
                        </a>
                    </div>
                    <div class="" style="float:left;width:50%;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Mejorando-los-proceso-de-produccion ><h2>​Mejorando los proceso de producción</h2></a>
                        <span class="text-muted"> Viernes 29 de Julio del 2016 </span>
                        <p>El Gobierno en coordinación con el  Instituto Nicaragüense de Tecnología Agropecuaria (INTA) llevaron a cabo el Primer Congreso Internacional: Retos y Desafíos para el Incremento de Hortalizas, Raíces y Tubérculoscon el objetivo&#8230;</p> 

                        </div>

                 
                </article>

                                <article class="row">
                    <div class="soho" style="float:left;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Intercambio-de-experiencias-entre-jovenes-emprendedores> 
                            <!-- <div class="img-thumbnail"> -->
                                <!-- <img alt= imagen de Intercambio de experiencias entre jóvenes emprendedores src=http://www.uni.edu.ni/img/Articulos/2016/07/29/thumbnails/Intercambio-de-experiencias-entre-jovenes-emprendedores.jpg > -->
                                <img class="img-responsive" alt= "imagen de Intercambio de experiencias entre jóvenes emprendedores" src=http://www2.uni.edu.ni/img/Articulos/2016/07/29/thumbnails/Intercambio-de-experiencias-entre-jovenes-emprendedores.jpg >
                            <!-- </div> -->
                        </a>
                    </div>
                    <div class="" style="float:left;width:50%;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Intercambio-de-experiencias-entre-jovenes-emprendedores ><h2>Intercambio de experiencias entre jóvenes emprendedores</h2></a>
                        <span class="text-muted"> Viernes 29 de Julio del 2016 </span>
                        <p>
    Compartir con los
estudiantes las experiencias de emprendedores que han alcanzado el éxito con
mucho esfuerzo y fomentar en los jóvenes&#8230;</p>                    </div>
                </article>

                                <article class="row">
                    <div class="soho" style="float:left;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/I-P-E-para-el-Desarrollo-Humano> 
                            <!-- <div class="img-thumbnail"> -->
                                <!-- <img alt= imagen de I + P + E para el Desarrollo Humano src=http://www.uni.edu.ni/img/Articulos/2016/07/27/thumbnails/I-P-E-para-el-Desarrollo-Humano.jpg > -->
                                <img class="img-responsive" alt= "imagen de I + P + E para el Desarrollo Humano" src=http://www2.uni.edu.ni/img/Articulos/2016/07/27/thumbnails/I-P-E-para-el-Desarrollo-Humano.jpg >
                            <!-- </div> -->
                        </a>
                    </div>
                    <div class="col-lg-13 col-md-15 col-sm-16 col-xs-16">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/I-P-E-para-el-Desarrollo-Humano ><h2>I + P + E para el Desarrollo Humano</h2></a>
                        <span class="text-muted"> Miercoles 27 de Julio del 2016 </span>
                        <p>Investigadores, docentes y académicos
de las 10 universidades miembros del CNU fueron parte del XVI Encuentro de
Investigación, Posgrado y Extensión (&#8230;</p>                    </div>
                </article>

                                <article class="row">
                    <div class="soho" style="float:left;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Joven-Talento-UNI-Primer-LA-rumbo-a-Rusia-2016> 
                            <!-- <div class="img-thumbnail"> -->
                                <!-- <img alt= imagen de Joven Talento UNI, Primer LA rumbo a Rusia 2016 src=http://www.uni.edu.ni/img/Articulos/2016/07/25/thumbnails/Joven-Talento-UNI-Primer-LA-rumbo-a-Rusia-2016.jpg > -->
                                <img class="img-responsive" alt= "imagen de Joven Talento UNI, Primer LA rumbo a Rusia 2016" src=http://www2.uni.edu.ni/img/Articulos/2016/07/25/thumbnails/Joven-Talento-UNI-Primer-LA-rumbo-a-Rusia-2016.jpg >
                            <!-- </div> -->
                        </a>
                    </div>
                    <div class="" style="float:left;width:50%;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Joven-Talento-UNI-Primer-LA-rumbo-a-Rusia-2016 ><h2>Joven Talento UNI, Primer LA rumbo a Rusia 2016</h2></a>
                        <span class="text-muted"> Lunes 25 de Julio del 2016 </span>
                        <p>Jafet Alejandro Baca Obando,
uno de los Jóvenes Talento de la UNI y perteneciente al grupo Olimpico
nicaragüense es el&#8230;</p>                    </div>
                </article>

                                <article class="row">
                    <div class="soho" style="float:left;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Tics-en-el-proceso-ensenanza-aprendizaje> 
                            <!-- <div class="img-thumbnail"> -->
                                <!-- <img alt= imagen de Tics en el proceso enseñanza- aprendizaje src=http://www.uni.edu.ni/img/Articulos/2016/07/21/thumbnails/Tics-en-el-proceso-ensenanza-aprendizaje.jpg > -->
                                <img class="img-responsive" alt= "imagen de Tics en el proceso enseñanza- aprendizaje" src=http://www2.uni.edu.ni/img/Articulos/2016/07/21/thumbnails/Tics-en-el-proceso-ensenanza-aprendizaje.jpg >
                            <!-- </div> -->
                        </a>
                    </div>
                    <div class="" style="float:left;width:50%;">
                        <a href= http://www.uni.edu.ni/Articulo/Ver/Tics-en-el-proceso-ensenanza-aprendizaje ><h2>Tics en el proceso enseñanza- aprendizaje</h2></a>
                        <span class="text-muted"> Jueves 21 de Julio del 2016 </span>
                        <p>Reflexionar sobre cómo desarrollar
el aprendizaje según los avances tecnológicos, fue parte de la Jornada de Innovación Académica “Las Nuevas
Culturas Juveniles en el Aprendizaje”, en la que participaron docentes de
las seis&#8230;</p>                    </div>
                </article>



                
            </div>
        </div>

            




</div>




<div class="container" style="float: left;width:98%;margin-left:1%;margin-right:1%;">
  
<div class="panel panel-default" style="margin-top:0%;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">

 <div class="panel-heading">
    <h3 >Enlaces de Interés</h3>
  </div>
  <div class="panel-body">

<div class ="container"style="position:relative;width:100%;margin-top:0%;margin-left:5%">




<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">CPML</div>
<%= link_to image_tag('cpml.jpg', :style =>"width:100%;height:5em;" ,:alt => 'CPML'), "http://www.pml.org.ni/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PIENSA</div>
<%= link_to image_tag('piensa.jpg', :style =>"width:100%;height:5em;" ,:alt => 'PIENSA'), "http://www.piensa.uni.edu.ni/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">FODMU</div>
<%= link_to image_tag('fodmu.jpg', :style =>"width:100%;height:5em;" ,:alt => 'FODMU'), "http://fodmu.uni.edu.ni/", target: '_blank' %> 
 </div>

 <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PVIT</div>
<%= link_to image_tag('pvit.jpg', :style =>"width:100%;height:5em;" ,:alt => 'PVIT'), "http://www.pvit.uni.edu.ni/", target: '_blank' %>
 </div>


<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">CONACYT</div>
<%= link_to image_tag('Logo-Web.gif', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.cyted.org/es/Convocatoria2016", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">ENERGIAS 4E</div>
<%= link_to image_tag('logo4e.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://energias4e.com/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">RACI</div>
<%= link_to image_tag('logo-raci.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.raci.org.ar/", target: '_blank' %> 
</div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PROINNOVA</div>
<%= link_to image_tag('Logo_proinova.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.proinnova.co.cr/contenido/", target: '_blank' %> 
 </div>

</div>
 
</div>


</div>

</div>




</div>



<div class="conteiner" style="float: right;width:18%;margin-right:5%;margin-top:0%;">

<div class="panel panel-default" style="margin-top:;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">


  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
  
    <%= link_to image_tag('conicyt.png', :style =>"width:100%;" ,:alt => 'Sitio conicyt'),"http://www.conicyt.gob.ni/", target: '_blank' %> 
    <p><strong>Conicyt Nicaragua</strong></p>
  
  </div>

</div>

<div class="panel panel-default" style="margin-top:10px;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">



  <div class="panel-heading" style="width:100%;">
          <h3 class="panel-title">Becas Externas</h3>
        </div>
        <div class="panel-body" style="width:100%;">

          <div>
            <%= link_to image_tag('erasmus.jpg', :style =>"width:100%;" ,:alt => 'Erasmus'),"http://ec.europa.eu/programmes/erasmus-plus/index_es.htm", target: '_blank' %> 
            <p><strong>Erasmus</strong></p>
          </div>

           <div>
            <%= link_to image_tag('educationusa.png', :style =>"width:90%;" ,:alt => 'Education USA'), "https://educationusa.state.gov/", target: '_blank' %> 
            <p><strong>Education USA</strong></p>
          </div>
       
        <div>
            <%= link_to image_tag('campusfrance.png', :style =>"width:90%;" ,:alt => 'Campus France'), "http://www.campusfrance.org/es", target: '_blank' %> 
            <p><strong>Campus France</strong></p>
          </div>

        <div>
            <%= link_to image_tag('chevening.png', :style =>"width:90%;" ,:alt => 'Chevening'), "http://www.chevening.org/", target: '_blank' %> 
            <p><strong>Chevening</strong></p>
          </div>

        <div>
            <%= link_to image_tag('oea.jpg', :style =>"width:90%;" ,:alt => 'Organizacion de estados Americanos'), "http://www.oas.org/es/becas/", target: '_blank' %> 
            <p><strong>Organizacion de estados Americanos</strong></p>
          </div>

        <div>
            <%= link_to image_tag('conacyt.png', :style =>"width:90%;" ,:alt => 'Conacyt'), "http://www.conacyt.mx/", target: '_blank' %> 
            <p><strong>Conacyt</strong></p>
          </div>

        </div>

</div>







  
</div>



</div>

<div class="container"  style="margin-top:0%;width:90%;" >

<div class="panel panel-default" style="margin-top:0%;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">
 <div class="panel-heading" style="width:100%;">
          <h2 style="text-align: center;">Buscadores de Patentes</h2>
        </div>
<div class="panel-body" style="width:100%;">

 <div class="container" style="margin-top:1%;">


<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PATENTSCOPE</div>
<%= link_to image_tag('wipo.gif', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://www.wipo.int/portal/es/", target: '_blank' %> 
</div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">OPTI</div>
<%= link_to image_tag('opti.gif', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.opti.org/", target: '_blank' %>
  </div>

  <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">GOOGLE PATENTS</div>
<%= link_to image_tag('patents.png', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://www.wipo.int/portal/es/", target: '_blank' %> 
  </div>
  

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">ESPACENET</div>
<%= link_to image_tag('espacenet.jpg', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://lp.espacenet.com/?locale=es_LP&view=paginaintermedia", target: '_blank' %> 
  </div>

  <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">LENS</div>
<%= link_to image_tag('lens.png', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "https://www.lens.org/lens/?locale=es", target: '_blank' %> 
  </div>


</div>

</div>

</div>


</div>



            