<% @nav = "inicio" %>






<div class="container" style="margin-top:3%;margin-right:0%;margin-left:0%;width:100%;">


<div class="container " style="float: left;width:70%;margin-right:0%;margin-left:4%;">


<div class="container" style="float: left;width:100%;margin-left:0%;">


<div class="panel panel-default" style="margin-top:10px;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">
<div class="panel-heading" style="width:100%;">

<h1 style="margin: 0.5em 2em;">Ultimas Noticias</h1>

</div>


<div class="panel-body" style="text-align: left;">

<div class="row" style="margin:0.2em;">
           <div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/04/08/thumbnails/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI.jpg src= http://www.uni.edu.ni/img/Articulos/2016/04/08/thumbnails/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Encuentro-de-Beta-tester-de-Cootel-en-la-UNI ><h4>​Encuentro de Beta tester de Cootel en la UNI</h4></a>
                    <p>CooTel presentó en la UNI sus planes de servicio y oferta que muy prontó ofrecerá a los usuarios de telecomunicaciones nicaragüenses.</p>
                </div>
            </div>

           <div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Civil-avanza-en-su-autoevaluacion >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/04/08/thumbnails/Civil-avanza-en-su-autoevaluacion3.jpg src= http://www.uni.edu.ni/img/Articulos/2016/04/08/thumbnails/Civil-avanza-en-su-autoevaluacion3.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Civil-avanza-en-su-autoevaluacion ><h4>Civil avanza en su autoevaluación</h4></a>
                    <p>Obtener propuestas de mejoras que ayuden a consolidar los planteamientos del proceso de validación interna del Informe Preliminar de Autoevaluación del Programa de Ingeniería Civil...</p>
                </div>
            </div>

<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Reconocimiento-a-las-Mujeres-en-su-Dia >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/09/thumbnails/Reconocimiento-a-las-Mujeres-en-su-Dia.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/09/thumbnails/Reconocimiento-a-las-Mujeres-en-su-Dia.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Reconocimiento-a-las-Mujeres-en-su-Dia ><h4>Reconocimiento a las Mujeres en su Día</h4></a>
                    <p>La UNI celebró el Día Internacional de la Mujer con un ciclo de conferencias sobre temas de genero y salud femenina. </p>
                </div>
</div>
<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/09/thumbnails/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/09/thumbnails/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/Luis-Enrique-abriendo-surcos-de-Identidad-Cultural-UNIversitaria ><h4>Luis Enrique abriendo surcos de Identidad Cultural UNIversitaria</h4></a>
                    <p>El próximo 16 de marzo la UNI
se vestirá de gala al presentar un Concierto en Conmemoración del Centenario de
la muerte de&#8230;</p>
                </div>
                </div>
<div class="row" style="margin:0.2em;">
                <div class="" style="width:44%;float:left;" >
                    <a href= http://www.uni.edu.ni/Articulo/Ver/U-de-la-mano-con-la-Policia-Nacional >
                        <!-- <div class="img-thumbnail"> -->
                            <img class="img-responsive" alt= img/Articulos/2016/03/08/thumbnails/U-de-la-mano-con-la-Policia-Nacional.jpg src= http://www.uni.edu.ni/img/Articulos/2016/03/08/thumbnails/U-de-la-mano-con-la-Policia-Nacional.jpg >
                        <!-- </div> -->
                    </a>
                </div>
                <div class="" style="width:55%;float:right;height:100px;">
                    <a href= http://www.uni.edu.ni/Articulo/Ver/U-de-la-mano-con-la-Policia-Nacional ><h4>U  de la mano con la Policía Nacional</h4></a>
                    <p>19 funcionarios de la Policía Nacional
dieron por finalizado el posgrado en&#8230;</p>
                </div>
 </div>
 </div>

 </div>

 </div>




</div>




<div class="container" style="float: left;width:98%;margin-left:1%;margin-right:1%;">
  
<div class="panel panel-default" style="margin-top:0%;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">

 <div class="panel-heading">
    <h3 >Enlaces de Interés</h3>
  </div>
  <div class="panel-body">

<div class ="container"style="position:relative;width:100%;margin-top:0%;margin-left:5%">




<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">CPML</div>
<%= link_to image_tag('cpml.jpg', :style =>"width:100%;height:5em;" ,:alt => 'CPML'), "http://www.pml.org.ni/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PIENSA</div>
<%= link_to image_tag('piensa.jpg', :style =>"width:100%;height:5em;" ,:alt => 'PIENSA'), "http://www.piensa.uni.edu.ni/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">FODMU</div>
<%= link_to image_tag('fodmu.jpg', :style =>"width:100%;height:5em;" ,:alt => 'FODMU'), "http://fodmu.uni.edu.ni/", target: '_blank' %> 
 </div>

 <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PVIT</div>
<%= link_to image_tag('pvit.jpg', :style =>"width:100%;height:5em;" ,:alt => 'PVIT'), "http://www.pvit.uni.edu.ni/", target: '_blank' %>
 </div>


<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">CONACYT</div>
<%= link_to image_tag('Logo-Web.gif', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.cyted.org/es/Convocatoria2016", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">ENERGIAS 4E</div>
<%= link_to image_tag('logo4e.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://energias4e.com/", target: '_blank' %> 
 </div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">RACI</div>
<%= link_to image_tag('logo-raci.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.raci.org.ar/", target: '_blank' %> 
</div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:20%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PROINNOVA</div>
<%= link_to image_tag('Logo_proinova.jpg', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.proinnova.co.cr/contenido/", target: '_blank' %> 
 </div>

</div>
 
</div>


</div>

</div>




</div>



<div class="conteiner" style="float: right;width:18%;margin-right:5%;">

<div class="panel panel-default" style="margin-top:10px;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">


  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
  
    <%= link_to image_tag('conicyt.png', :style =>"width:100%;" ,:alt => 'Sitio conicyt'),"http://www.conicyt.gob.ni/", target: '_blank' %> 
    <p><strong>Conicyt Nicaragua</strong></p>
  
  </div>

</div>

<div class="panel panel-default" style="margin-top:10px;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">



  <div class="panel-heading" style="width:100%;">
          <h3 class="panel-title">Becas Externas</h3>
        </div>
        <div class="panel-body" style="width:100%;">

          <div>
            <%= link_to image_tag('erasmus.jpg', :style =>"width:100%;" ,:alt => 'Erasmus'),"http://ec.europa.eu/programmes/erasmus-plus/index_es.htm", target: '_blank' %> 
            <p><strong>Erasmus</strong></p>
          </div>

           <div>
            <%= link_to image_tag('educationusa.png', :style =>"width:90%;" ,:alt => 'Education USA'), "https://educationusa.state.gov/", target: '_blank' %> 
            <p><strong>Education USA</strong></p>
          </div>
       
        <div>
            <%= link_to image_tag('campusfrance.png', :style =>"width:90%;" ,:alt => 'Campus France'), "http://www.campusfrance.org/es", target: '_blank' %> 
            <p><strong>Campus France</strong></p>
          </div>

        <div>
            <%= link_to image_tag('chevening.png', :style =>"width:90%;" ,:alt => 'Chevening'), "http://www.chevening.org/", target: '_blank' %> 
            <p><strong>Chevening</strong></p>
          </div>

        <div>
            <%= link_to image_tag('oea.jpg', :style =>"width:90%;" ,:alt => 'Organizacion de estados Americanos'), "http://www.oas.org/es/becas/", target: '_blank' %> 
            <p><strong>Organizacion de estados Americanos</strong></p>
          </div>

        <div>
            <%= link_to image_tag('conacyt.png', :style =>"width:90%;" ,:alt => 'Conacyt'), "http://www.conacyt.mx/", target: '_blank' %> 
            <p><strong>Conacyt</strong></p>
          </div>

        </div>

</div>







  
</div>



</div>

<div class="container"  style="margin-top:0%;width:90%;" >

<div class="panel panel-default" style="margin-top:0%;text-align:center;border-radius: 20px; box-shadow: 5px 5px #555858;">
 <div class="panel-heading" style="width:100%;">
          <h2 style="text-align: center;">Base de Datos de Patentes</h2>
        </div>
<div class="panel-body" style="width:100%;">

 <div class="container" style="margin-top:1%;">


<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">PATENTSCOPE</div>
<%= link_to image_tag('wipo.gif', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://www.wipo.int/portal/es/", target: '_blank' %> 
</div>

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">OPTI</div>
<%= link_to image_tag('opti.gif', :style =>"width:100%;height:5em;" ,:alt => 'Conacyt'), "http://www.opti.org/", target: '_blank' %>
  </div>

  <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">GOOGLE PATENTS</div>
<%= link_to image_tag('patents.png', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://www.wipo.int/portal/es/", target: '_blank' %> 
  </div>
  

<div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">ESPACENET</div>
<%= link_to image_tag('espacenet.jpg', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "http://lp.espacenet.com/?locale=es_LP&view=paginaintermedia", target: '_blank' %> 
  </div>

  <div class="panel panel-primary" style="margin:1.5em 0;position:relative;width:18%;float:left;margin-left:1em;">
<div class="panel-heading" style="text-align:center;">LENS</div>
<%= link_to image_tag('lens.png', :style =>"width:100%;height:5em;" ,:alt => 'WIPO'), "https://www.lens.org/lens/?locale=es", target: '_blank' %> 
  </div>


</div>

</div>

</div>


</div>



            